.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > div {
    width: 90%;
    margin: 5px auto;
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-align: center;
    border: 2px solid black;
  }
  
  @media screen and (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .container > div {
      width: auto;
    }
  }
  